<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <div class = "container">

      {% include header.html %}

      <div class="page-content">
        <div class="wrap">
        {{ content }}
        </div>
      </div>

      {% include footer.html %}

    </div>

    {% if site.cloudflare_analytics_token %}
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ site.cloudflare_analytics_token }}"}'></script>
    <!-- End Cloudflare Web Analytics -->
    {% endif %}

    </body>
</html>